@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./Img/WallpaperPlayEnter.png); 
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    font-family:'Lucida Sans Regular', sans-serif; 
    text-align: center;
    color:#FFFF40 ;
}
.header_imgNavie {
    height: 250px;
    width: 250px;
    border-radius: 0 0 0 10px;
    
}
header {
    display:flex ;
    justify-content: space-between;

}
.header-img {
    width: 450px;
    height: 450px;

}
button {
    margin-left:0 5px;
    border-radius:100px;
    padding: 30px 55px;
    font-size: 30px;
    background: linear-gradient(90deg, #FFEA00, #FF9009);
    font-family: 'Lucida Sans Regular', sans-serif; 
    color: #000000;
    box-shadow: 6px 6px 12px #7e6034;
}
button:hover {
    transform: scale(1.10);
    cursor:grabbing ;
}
main {
    display: none;
    justify-content: space-between;
    align-items: flex-start;
}
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
.left {
    transform: translate(-200px , 50px) rotate(-30deg);
}
.right {
    transform: translate(200px , 50px) rotate(30deg);
}
.shop-btn {
    margin-left:0 5px;
    border-radius:100px;
    padding: 30px 55px;
    font-size: 30px;
    background: linear-gradient(90deg, #FFEA00, #FF9009);
    font-family: 'Lucida Sans Regular', sans-serif; 
    color: #000000;
    box-shadow: 6px 6px 12px #7e6034;
}